@import "tailwindcss";

@theme {
  /* Color  */
  --color-dark: #181818;

  /* Spacing  */
  --spacing-display-width: 1800px;
}

@layer {
  input {
    @apply focus:border-gray-400 focus:outline-gray-300;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sx-react-calendar-wrapper {
    width: 800px;
    max-width: 80vw;
    height: 80vh;
    max-height: 800px;
  }
}
